<% content_for(:right_nav) do %>
<div class="works_right_nav">
	<uL class="categories">
	<% Work.all_categories.each do |cat| 
		css_class = ""
		if @works.first.category == cat
			css_class = "selected"
		end
		%>
		<li class="<%=css_class%>"><%=link_to cat, url_for(:category => cat.gsub(" ","_").underscore)%></li>
	<% end %>
	</ul>		
	<div class="works_in_category">
		<ul>
			<% @works.each_with_index do |other_work, index| 
				css_class = ""
				if index == @works.size - 1
					css_class = "last"
				end
				%>
				<% if index == 0%>
					<li class="<%=css_class%>"><a href="#1" class="selected">
						<%=index+1%>. <%=other_work.title%>
						</a>
					</li>
				<% else %>
					<li class="<%=css_class%>"><a href="#<%=index + 1%>">
						<%=index+1%>. <%=other_work.title%>
						</a>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>		
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		var selected_work_id = "#work_details_1";
		var animating_work_show = false;
		if(window.location.hash){
			var selectedIndex = window.location.hash.substring(1);
			showWork(selectedIndex);
		}
		function setSelectable(){
			var selectedIndex = $('.numbers a').index($('.numbers a.selected'));
			if(selectedIndex == 0){
				$('.arrows a.left').removeClass("selectable");
			}else{
				$('.arrows a.left').addClass("selectable");				
			}
			if(selectedIndex == $('.numbers a').length - 1){
				$('.arrows a.right').removeClass("selectable");
			}else{
				$('.arrows a.right').addClass("selectable");				
			}
		}
		function showWork(at_index){
			$('.works_in_category a').removeClass("selected");
			$('.numbers a').removeClass("selected");
			$($('.works_in_category a')[at_index - 1]).addClass("selected");
			$($('.numbers a')[at_index - 1]).addClass("selected");
			
			var target_div_id = '#work_details_' + at_index;
			if(target_div_id != selected_work_id && !animating_work_show){
				animating_work_show = true;
				var previously_selected_work = selected_work_id;
				selected_work_id = target_div_id;
								
				$(previously_selected_work).addClass("fixed");
				$(previously_selected_work + " .responsibilities").hide();
				$(previously_selected_work + " .explanation").hide();
				$(previously_selected_work).fadeOut(2000, function(){
					$(previously_selected_work).removeClass("fixed");
					animating_work_show = false;
				});
				
				$(target_div_id + " .responsibilities").fadeIn(2000);
				$(target_div_id + " .explanation").fadeIn(2000);
				$(target_div_id).fadeIn(2000);
			}
			setSelectable();
		}
		$('.works_in_category a').click(function(event){
			var selectedIndex = this.href.split("#")[1];
			showWork(selectedIndex);
		});
		$('.numbers a').click(function(event){
			var selectedIndex = this.href.split("#")[1];
			showWork(selectedIndex);
		});
		$('.arrows a.left').click(function(event){
			var selectedIndex = $('.numbers a').index($('.numbers a.selected'));			
			event.preventDefault();
			$($('.numbers a')[selectedIndex - 1]).click();
			setSelectable();
		});
		$('.arrows a.right').click(function(event){
			var selectedIndex = $('.numbers a').index($('.numbers a.selected'));
			event.preventDefault();
			$($('.numbers a')[selectedIndex + 1]).click();
			setSelectable();
		});
	});
</script>

<div class="content">

	<h4>jotapajaro's work</h4>

	<div class="bluebox">		
		<div class="numbers">
			<% @works.each_with_index do |other_work, index| %>
				<% if index == 0%>
					<a href="#1" class="selected">1</a>
				<% else %>
					<a href="#<%=index + 1%>"><%=index + 1%></a>					
				<% end %>
			<% end %>
		</div>		
		<div class="arrows">
				<a href="#" class="left">&lt;</a>
				<a href="#" class="right selectable">&gt;</a>
		</div>
		
		<% @works.each_with_index do |w, index| 
			div_attributes = %Q{ id="work_details_#{index+1}" }
			div_attributes += %Q{ style="display: none;" } if index != 0
			# div_attributes += %Q{ class="fixed" } unless index == 0
			@work = w %>
			<div <%=div_attributes%>>
				<h3><%=@work.title%></h3>
				
				<%=render :partial => 'work'%>
			</div>
		<% end %>
		
	</div>
	
	<br/><br/>
	

</div>
