<% content_for(:page_title) { %><%="Work | #{@work.title}"%><% } %>

<div class="works_nav">
	<table>
		<tr>
		<td class="nav leftslide">
		<% if @previous_work %>
		  <%=link_to image_tag('/creations/left_slide_off.gif', :alt => 'prev'), work_path(@previous_work), "data-pjax" => '#main'%>
		<% else %>
		  <%= image_tag('/creations/left_slide_off.gif', :alt => 'prev') %>
		<% end %>
	  </td>
	  <td class="lilspacer"></td>
		<% @works.each_with_index do |other_work, index|
			css_classes = []
			if index == @works.size - 1
				css_classes << "last"
			end
			if @work == other_work
				css_classes << "selected"
			end
			%>
			<td valign="middle" class="<%=css_classes.join(' ')%>">
			  <div>
				  <%=link_to other_work.title, work_path(other_work), "data-pjax" => '#main'%>
				</div>
			</td>
			<% if index+1 == @works.size %>
        <td class="lilspacer"></td>
	  <% else %>
	      <td class="spacer"></td>
	  <% end %>
		<% end %>
		<td class="nav rightslide">
		<% if @next_work %>
		  <%=link_to image_tag('/creations/right_slide_off.gif', :alt => 'next'), work_path(@next_work), "data-pjax" => '#main'%>
		<% else %>
	    <%= image_tag('/creations/right_slide_off.gif', :alt => 'prev') %>
		<% end %>
	</td>
	  </tr>
	</table>
</div>

<div class="work">

	<h3>
		<%=@work.title%>
		<% unless @work.fullsizeview_url.blank? %>
			<span class="viewfull"><%=link_to "view full size >", @work.fullsizeview_url, :target => 'new' %></span>
		<% end %>
	</h3>
	
	<div class="explanation">
		<%=raw @work.explanation_html%>
	</div>

<% unless @work.responsibilities_html.blank? %>
	<h4>responsible for</h4>
	<div class="responsibilities">
		<%=raw @work.responsibilities_html%>
	</div>
<% end %>

	<div class="images">
		<% @work.work_images.each do |image| %>
			<% if image.exists? %>
				<%= image_tag image.url(:original), :class => "workimage" %>
			<% end %>
		<% end %>
	</div>

</div>
