<% if @title %>
  <% content_for(:page_title) { @title } %>
<% else %>
  <% content_for(:page_title) { %><%="Work | #{@work.title}"%><% } %>
<% end %>

<div class="works_nav">
	<table>
		<tr>
		<td class="nav leftslide">
		<% if @previous_work %>
		  <%=link_to image_tag('/creations/left_slide_off.gif', :alt => 'prev'), work_path(@previous_work), "data-pjax" => '#main'%>
		<% else %>
		  <%= image_tag('/creations/left_slide_on.gif', :alt => 'prev') %>
		<% end %>
	  </td>
	  <td class="lilspacer"></td>
		<% @works.each_with_index do |other_work, index|
			css_classes = ["workitem"]
			if index == @works.size - 1
				css_classes << "last"
			end
			if @work == other_work
				css_classes << "selected"
			end
			%>
			<td valign="middle" class="<%=css_classes.join(' ')%>">
			<a href="<%=work_path(other_work)%>" data-pjax="#main">
			  <div></div>
			  <div>
				  <%=other_work.title%>
				</div>
			  <div></div>
			</a>
			</td>
			<% if index+1 == @works.size %>
        <td class="lilspacer"></td>
	  <% else %>
	      <td class="spacer"></td>
	  <% end %>
		<% end %>
		<td class="nav rightslide">
		<% if @next_work %>
		  <%=link_to image_tag('/creations/right_slide_off.gif', :alt => 'next'), work_path(@next_work), "data-pjax" => '#main'%>
		<% else %>
	    <%= image_tag('/creations/right_slide_on.gif', :alt => 'prev') %>
		<% end %>
	</td>
	  </tr>
	</table>
</div>

<div class="work">

	<h3>
		<ul class="work_image_nav">
		  <li class="title">
		    <%=@work.title%>
  		</li>
  		<% @work.work_images.each_with_index do |image, index| %>
  		  <% extra_class = (index == 0) ? "current" : ""%>
  		  <li><a data-image="workimage<%=index%>" class="<%=extra_class%>"><%=index + 1%></a></li>
  		<% end %>
  		<div class="previousnext">
    		<a class="previous disabled">previous</a>
    		|
    		<a class="next">next</a>
    	</div>
  	</ul>
	</h3>

	<div class="images">
		<% @work.work_images.each_with_index do |image, index| %>
		  <% extra_class = (index == 0) ? " current" : " hidden" %>
			<%= image_tag image.url(:original), :id => "workimage#{index}", :class => "workimage#{extra_class}" %>
		<% end %>
	</div>

  <div class="image_describe">
    <div class="explanation">
      <%=raw @work.explanation_html%>
    </div>

    <% unless @work.responsibilities_html.blank? %>
      <h4>responsible for</h4>
      <div class="responsibilities">
        <%=raw @work.responsibilities_html%>
      </div>
    <% end %>
  </div>

</div>
