
<% form.input_field_set do -%>
  <%= form.input :title %>
  <%= form.input :category %>
  <%= form.input :sort_number %>
  <%= form.input :featured %>
  <%= form.input :featured_sort %>
  <%= form.input :explanation_html %>
  <%= form.input :responsibilities_html %>


<p><label>Featured Image:</label>
	<% if @work.featuredview.file? %>
		<%= image_tag @work.featuredview.url(:preview) %> OR
	<% end %>
	<%= form.file_field :featuredview %>
</p>

<p><label>Large Image:</label>
	<% if @work.largeview.file? %>
		<%= image_tag @work.largeview.url(:preview) %> OR
	<% end %>
	<%= form.file_field :largeview %>
</p>

<p>
	<% if @work.fullsizeview.file? %>
		<%= image_tag @work.fullsizeview.url(:preview) %> OR
	<% end %>
		Full Size Image: <%= form.file_field :fullsizeview %>
		<br/>
		OR
		<br/>
		External Link: <%= form.text_field :fullsizeview_url %></p>

<% end -%>
