
<% form.inputs do -%>
  <%= form.input :title %>
  <%= form.input :sort_number %>
  <%= form.input :featured %>
  <%= form.input :featured_sort %>
  <%= form.input :explanation_html %>
  <%= form.input :responsibilities_html %>


<p><label>Featured Image:</label>
	<% if @work.featuredview.file? %>
		<%= image_tag @work.featuredview.url(:original) %> OR
	<% end %>
	<%= form.file_field :featuredview %>
</p>

<%
Work.attached_file_names.each do |attached_file_name|
	img = @work.send(attached_file_name)
%>
<p><label><%=attached_file_name.to_s.capitalize%> Image:</label>
	<% if img.file? %>
		<%= image_tag img.url(:original) %> OR
	<% end %>
	<%= form.file_field attached_file_name %>
</p>
<%
end
%>


<p>External Link: <%= form.text_field :fullsizeview_url %></p>

<% end %>