<% content_for(:listing_headers) do %>
	<th>Created At</th>
    <th>Title</th>
    <th>Featured</th>
    <th>Sort</th>
<% end %>

<% content_for_object(:listing_each) do |work| %>
	<td><%= work.created_at.strftime('%d %b, %Y') %></td>
	<td><%= link_to(h(work.title), admin_work_path(work)) %></td>
	<td><%= work.featured ? "Yes" : "No" %>
		<% if work.featured_sort %>
			(<%= work.featured_sort %>)
		<% end %>
	</td>
	<td><%= work.sort_number %></td>
<% end %>
