<tr class="<%= cycle('', 'alt') %>">
  <td><%= work.created_at.strftime('%d %b, %Y') %></td>
  <td><%= link_to(h(work.title), admin_work_path(work)) %></td>
  <td><%= work.category %></td>
  <td><%= work.sort_number %></td>
  <td>  
    <%= link_to(image_tag('silk/pencil.png', :alt => 'edit'), admin_work_path(work)) %>


    <% form_for(:work, work, :url => admin_work_path(work), :html => {:class => 'delete-item', :method => :delete}) do |form| -%>
      <%= image_submit_tag("silk/delete.png", :confirm => "Are you sure you want to delete? There is no undo for deleting work.") %>
    <% end -%>

  </td>
</tr>
