<div class="form">
<%= form_for(:contact, :url => contact_url) do |form| -%>

  <%= form.text_field :name, :class => 'contact_input defaultText', :title => "name*" %>

  <%= form.text_field :email, :class => 'contact_input defaultText', :title => "email*" %>

  <%= form.text_area :message, :class => 'contact_input defaultText', :title => "the details*" %>

  <%= image_submit_tag("/creations/sendmessage.gif", :alt => "Save", :class => "contact_submit") -%>

<% end -%>
<br class="clear"/>
</div>
