<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title><%= yield(:page_title) || h(config[:title]) %></title>
	<%= stylesheet_link_tag 'birdfolio' %>
	<%= yield(:head) %>
</head>
<body>


	<div id="wrapper">
		<div class="tippy_top">
			<ul class="top_nav">
				<li><%= link_to("home", "/", :class => ['/',''].include?(request.path.to_s) ? "selected" : "") %></li>

				<% page_links_for_navigation.each do |link|
					link_class = if (@page && @page.title == link.name) ||
						request.path.to_s.index(link.url.to_s) ||
						(controller_name == "posts" && link.name == "blog")
						"selected"
					else
						""
					end %>
				<li><%= link_to(h(link.name), link.url, :class => link_class) %></li>
				<% end -%>
			</ul>
			<ul class="connect_links">
				<li><a href="http://www.linkedin.com/in/julieannburkhart" target="new"><img src="/images/linkedin.gif" height="29" width="29" /></a></li>
				<li><a href="/julieannburkhart_resume.pdf" target="new"><img src="/images/resume.gif" height="29" width="29" /></a></li>
				<li><a href="http://twitter.com/jotapajaro" target="new"><img src="/images/twitter.gif" height="29" width="29" /></a></li>
				<li><a href="http://www.facebook.com/julieannburkhart" target="new"><img src="/images/facebook.gif" height="29" width="29" /></a></li>
			</ul>
		</div>
		<div class="top">
			<div class="logo">
				<a href="/"><img src="/images/logo.gif" width="382" height="90"/></a>
				<div class="logocaption">
					web : print : brand identity : illustration
				</div>
			</div>
		</div>
		<div class="main">
			<%= yield %>
			
		</div>
		<div class="bottom">
			<div class="bottom_spacer"></div>
			<div class="bottom_dasher">
			<div class="bottom_stuff">
				<div class="blog_posts">
					<a class="view_archives" href="/archives/">archives &gt;</a>
					<ul>
						<% Post.recent.each do |post| %>
							<li><%=link_to post.title, post_path(post) %></li>
						<% end %>
					</ul>
				</div>
				<div class="contact">
					<img src="/images/intouch.gif" />
					<p class="first">job inquiries? contact me today!</p>
					<p>
						<label>mobile:</label> 
						603-303-3189
					</p>
					<p>
						<label>email:</label>
						<a href="mailto:jburkhart@jotapajaro.com">jburkhart@jotapajaro.com</a>
					</p>
					<br/>
					<p>i live and surf in Pacifica CA, but i design for people all over the world.</p>
				</div>
				<div class="copyright">
					&copy; 2011 JotaPajaro Studios. All rights reserved.
				</div>
			</div>
			</div>
		</div>
	</div>

</body>
</html>
