<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
	<title><%= yield(:page_title) || h(config[:title]) %></title>
	<%= stylesheet_link_tag 'birdfolio' %>
	<%= yield(:head) %>
</head>
<body>


	<div id="wrapper">

		<ul class="top_nav">
			<li><%= link_to("home", "/") %></li>

			<% page_links_for_navigation.each do |link|
				link_class = if (@page && @page.title == link.name) ||
					request.path.to_s.index(link.url.to_s) ||
					(controller_name == "posts" && link.name == "blog")
					"selected"
				else
					""
				end %>
			<li><%= link_to(h(link.name), link.url, :class => link_class) %></li>
			<% end -%>
		</ul>

		<div class="top">
			<div class="logo">
				<a href="/"><img src="/images/logo.gif" width="382" height="90"/></a>
				<div class="logocaption">
					web : print : brand identity : illustration
				</div>
			</div>
		</div>
		<div class="main">
			<br/>
				<%= yield %>
			<br class="clear"/>
			
			<div class="featured">
				<a href="/works/">view all &gt;</a>
			</div>
			
		</div>
		<div class="bottom">
			bottom stuff
		</div>
	</div>

</body>
</html>
