<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title><%= yield(:page_title) || h(enki_config[:title]) %></title>
	<%= stylesheet_link_tag 'birdfolio' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.pjax' %>
	<%= javascript_include_tag 'birdfolio' %>
	<%= yield(:head) %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22263057-2']);
    _gaq.push(['_setDomainName', 'jbirdcreations.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </head>
<body>


	<div id="wrapper">
	  <div id="innerwrap">
		<div class="wrap_tippy_top">
		<div class="tippy_top">
			<ul class="top_nav">
        <li><%= link_to("home", "/", :class => (request.path.to_s.index("/works") || ['/',''].include?(request.path.to_s)) ? "selected" : "") %></li>
				<% page_links_for_navigation.each do |link|
					link_class = if (@page && @page.title == link.name) ||
						request.path.to_s.index(link.url.to_s) ||
						(controller_name == "posts" && link.name == "blog")
						"selected"
					else
						""
					end %>
				<li><span class="bullet">&bull;</span><%= link_to(h(link.name), link.url, :class => link_class) %></li>
				<% end -%>
			</ul>
			<ul class="connect_links">
			  <li class="connect">connect</li>
				<li><a href="http://www.linkedin.com/in/julieannburkhart" target="new"><img src="/creations/linkedin.gif" height="31" width="31" /></a></li>
				<li><a href="http://www.facebook.com/JBirdCreations" target="new"><img src="/creations/facebook.gif" height="31" width="31" /></a></li>
				<li><a href="http://twitter.com/jbirdcreations" target="new"><img src="/creations/twitter.gif" height="31" width="31" /></a></li>
				<li><a href="https://plus.google.com/109377097153758320107" target="new"><img src="/creations/googleplus.gif" height="31" width="31" /></a></li>
			</ul>
		</div>
		</div>
		<div class="top">
			<div class="logo">
				<a href="/"><img src="/creations/jbirdcreations_logo.gif" width="421" height="111"/></a>
				<div class="logocaption">
				  clean &amp; creative design for
				  <span class="emphasize">
				    web, print, brand identity &amp; illustration
				  </span>
				</div>
				<div class="logocaptionalso">
				  I take a personal approach to ensure all your needs are met from concept to completion
				</div>
			</div>
		</div>
		<div id="main" class="main">
			<%= yield %>
		</div>
		<% if @show_bottom_stuff %>
		<div class="bottom_stuff">
			<div class="bio">
			  <h3>Julie-Ann Burkhart</h3>
			  <img src="/creations/jbird_home.jpg" width="166" height="190"/>
			  <% if @bio = Page.find_by_slug("bio") %>
			  <%=raw @bio.body_html%>
			  <% end %>
			</div>
			<div class="contact">
			  <h3>How can I help you?</h3>
				<p>
					<label>mobile:</label>
					603-303-3189
				</p>
				<p>
					<label>email:</label>
					<a href="mailto:jburkhart@jbirdcreations.com">jburkhart@jbirdcreations.com</a>
				</p>
				<%= render :partial => 'contact/form' %>
			</div>
		</div>
	  <% end %>
  </div>
  <div class="bottom_border"><div class="border">
    &copy; 2016. JBird Creations.
  </div></div>
	</div>

</body>
</html>
